<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pf.org.cms.mapper.BaseMapper">
    <insert id="insert" parameterType="java.util.HashMap">
        INSERT INTO ${TABLE_NAME} (
        <foreach collection="COLUMNS" item="item" index="index" separator=",">
            ${item}
        </foreach>
        ) values (
        <foreach collection="VALUES" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </insert>

    <select id="queryForObject" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT * FROM ${TABLE_NAME} WHERE ${KEY_ID} = #{KEY_VALUE}
    </select>

    <update id="update" parameterType="java.util.HashMap">
        UPDATE ${TABLE_NAME} SET
        <foreach collection="DATA" item="item" index="index" separator=",">
            ${item.COLUMN} = #{item.COL_VALUE}
        </foreach>
        WHERE ${KEY_ID} = #{KEY_VALUE}
    </update>

    <delete id="delete" parameterType="java.util.HashMap">
        DELETE FROM ${TABLE_NAME} WHERE ${KEY_ID} = #{KEY_VALUE}
    </delete>
</mapper>
