<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pf.org.cms.mapper.DemoMapper">
    <select id="getDemos" resultType="com.pf.org.cms.entity.Demo">
        select * from cms_demo
    </select>

    <insert id="batchInsertDemos" parameterType="java.util.List">
        insert into cms_demo (name,remark) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name},#{item.remark})
        </foreach>
    </insert>
</mapper>
